h2{background-color: blue;
    color: azure;}
    p2{color: blue;}
    p4{color: blue;}
    h3{background-color: red;
    color: azure;}
    p6{color: blue;}
    p7{background-color: blue;
    color: azure;}
    p9{color: blue;}
    